<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.shop.navac.smspannel2">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SMSPannel2"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SmsSenderService"
            android:exported="false" />
        <meta-data android:name="io.sentry.dsn" android:value="https://cd22e7718eec46a58680bf3f22d9e9b2@o567144.ingest.sentry.io/6382716" />
        <!-- Set tracesSampleRate to 1.0 to capture 100% of transactions for performance monitoring.
           We recommend adjusting this value in production. -->
        <meta-data android:name="io.sentry.traces.sample-rate" android:value="0.1" />
    </application>
    <uses-permission android:name="android.permission.SEND_SMS" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>